@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "quicksand", sans-serif;
  overflow-x: hidden;
}

/* bagian Navbar */
nav {
  display: flex;
  background-color: rgb(28, 126, 93);
  justify-content: space-around;
  height: 50px;
  align-items: center;
  color: antiquewhite;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav .logo {
  font-family: "quicksand";
  letter-spacing: 3px;
}
nav ul li a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: rgb(206, 201, 201);
}
/* bagian hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: antiquewhite;
  border-radius: 4px;
  transition: all 0.5s;
}

/* animasi hamburger */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* bagian responsif */

/* ukuran Tab */

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran Mobile */

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    width: 80%;
    right: 0;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    background-color: rgb(28, 126, 93);
    transform: translateX(100%);
    transition: all 0.5s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}
